scope: {{ patroni_scope }}
namespace: {{ patroni_namespace }}
name: {{ patroni_nodes | selectattr("ip", "equalto", ansible_host) | map(attribute="name") | first }}

restapi:
  listen: 0.0.0.0:8008
  connect_address: {{ patroni_nodes | selectattr("ip", "equalto", ansible_host) | map(attribute="ip") | first }}:8008

etcd:
  hosts:
{% for node in patroni_nodes %}
    - {{ node.ip }}:2379
{% endfor %}
  protocol: http
  etcd3: true

bootstrap:
  dcs:
    ttl: 30
    loop_wait: 10
    retry_timeout: 10
    maximum_lag_on_failover: 1048576
    synchronous_mode: false
    postgresql:
      use_pg_rewind: true
      use_slots: true
      parameters:
        wal_level: replica
        hot_standby: "on"
        logging_collector: 'on'
        max_wal_senders: 5
        max_replication_slots: 5
        wal_log_hints: "on"

  initdb:
    - encoding: UTF8
    - data-checksums

  pg_hba:
    - host replication replicator 127.0.0.1/32 md5
    - host all replicator 127.0.0.1/32 md5
    - host replication replicator 0.0.0.0/0 md5
    - host all replicator 0.0.0.0/0 md5
    - host all all 0.0.0.0/0 md5

  users:
    admin:
      password: {{ patroni_users.admin.password }}
      options:
        - createrole
        - createdb
    {{ patroni_users.replication.username }}:
      password: {{ patroni_users.replication.password }}
      options:
        - replication
    {{ patroni_users.rewind.username }}:
      password: {{ patroni_users.rewind.password }}

postgresql:
  listen: 0.0.0.0:5432
  connect_address: {{ patroni_nodes | selectattr("ip", "equalto", ansible_host) | map(attribute="ip") | first }}:5432
  data_dir: "/var/lib/postgresql/15/main/"
  bin_dir: "/usr/lib/postgresql/15/bin"
  pgpass: /tmp/pgpass0
  authentication:
    replication:
      username: {{ patroni_users.replication.username }}
      password: {{ patroni_users.replication.password }}
    superuser:
      username: {{ patroni_users.superuser.username }}
      password: {{ patroni_users.superuser.password }}
    rewind:
      username: {{ patroni_users.rewind.username }}
      password: {{ patroni_users.rewind.password }}
  parameters:
    unix_socket_directories: '/var/run/postgresql'

watchdog:
  mode: off
  device: /dev/watchdog
  safety_margin: 5

tags:
  nofailover: false
  noloadbalance: false
  clonefrom: false
  nosync: false
